* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    position: relative;
    min-height: 100%;
    box-sizing: inherit;
    background-image: url("../images/burst-dice-games-bw-2230x1486.jpg");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: inherit;
}

/* Global Styles */
.img-border {
    border-radius: 20px;
}

.custom-btn {
    background-color: #b8d4e3;
}

/* Header */
header {
    background-image: linear-gradient(to right, rgba(178, 135, 163, 0.8), rgba(126, 78, 96, 0.8));
}

/* Main */
main {
    padding-bottom: 6.47rem;
}

/* Products */
.product-img {
    width: 100%;
    height: auto;
}

/* Footer */
footer {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    font-size: 12px;
    font-style: italic;
    background-image: linear-gradient(to right, rgba(178, 135, 163, 0.8), rgba(126, 78, 96, 0.8));
}

footer a {
    color: #fff;
}