* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    position: relative;
    min-height: 100%;
    /* padding-bottom: 6.47rem; */
    box-sizing: inherit;
}

/* Global Styles */
.img-border {
    border-radius: 20px;
}

.custom-btn {
    background-color: #b8d4e3;
}

/* Header */
/* header {
    background-color: #b8d4e3;
    box-shadow: 1px 4px 4px gray;
} */

/* Main */
.full-body {
    background-image: linear-gradient(to bottom, #b287a3, #7e4e60);
}
main {
    padding-bottom: 6.47rem;
}

/* Footer */
footer {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    font-size: 12px;
    font-style: italic;
}

footer a {
    color: #fff;
}